.container_inputs {
  @apply flex justify-center  m-auto max-w-3xl w-[100%] text-center  py-3 ;

  .name_input {
    @apply border border-primary-color rounded-md px-1 py-2 w-[100%] text-sm;
  }
  .age_input {
    @apply border border-primary-color rounded-md px-1 mt-4 py-2 w-[100%] text-sm;
  }
  .error_text {
    color: red;
    font-size: 12px;
  }
  .add_button {
    @apply border border-primary-color rounded-md px-3  mt-4 bg-black py-2 w-[100%] text-[#ffff];

    &:hover {
      background-color: aliceblue;
      color: black;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
